# Pandas basics

In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
ser = pd.Series(np.random.randn(10))
ser

0    0.825258
1    1.253154
2    1.710995
3    2.514657
4    0.377188
5    1.508818
6    1.129748
7    0.263472
8    2.605076
9   -0.430441
dtype: float64

In [3]:
ser = pd.Series(np.random.randn(5), index='a b c d e'.split())
ser

a   -0.582499
b    0.854792
c    0.888439
d    1.432889
e   -0.417491
dtype: float64

In [4]:
ser = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
ser['c']

3

In [6]:
ser = pd.Series(np.random.randn(100))
ser.mean()

0.07909915667203168

In [7]:
ser.median()

0.14414149663319223

In [8]:
ser.var()

0.9443720953341673

In [9]:
ser.describe()

count    100.000000
mean       0.079099
std        0.971788
min       -2.164368
25%       -0.640381
50%        0.144141
75%        0.745262
max        2.437465
dtype: float64

## Data frame

In [10]:
df = pd.DataFrame(np.random.randn(5,4))
df

          0         1         2         3
0 -1.150620 -0.454123 -1.199076  1.184360
1 -1.246908 -0.521895 -0.241888 -1.248152
2 -1.030884  0.089228 -1.190310  1.338927
3 -0.243778  1.455289  1.055034  0.064884
4  0.620795  0.137789  0.208737  0.103650

In [11]:
df = pd.DataFrame(np.random.randn(5,4), 'a b c d e'.split(), 'w x y z'.split())
df

          w         x         y         z
a -0.498836  0.442864 -2.387922  1.055555
b -0.126091  1.632486 -0.128881 -1.939466
c  1.354579 -0.348039  0.461155 -1.167118
d -0.143823 -0.389405  0.789373 -0.911754
e  1.464566  0.159833  1.021164 -0.571623

In [12]:
# fetch by colummn
df['w']

a   -0.498836
b   -0.126091
c    1.354579
d   -0.143823
e    1.464566
Name: w, dtype: float64

In [13]:
df['w']['a']

-0.4988359167596419

In [14]:
# Fetch by row index
df.loc['a']

w   -0.498836
x    0.442864
y   -2.387922
z    1.055555
Name: a, dtype: float64

In [15]:
# Fetch by row number
df.iloc[1]

w   -0.126091
x    1.632486
y   -0.128881
z   -1.939466
Name: b, dtype: float64

In [16]:
# Condition selection 
df[df > 0]

          w         x         y         z
a       NaN  0.442864       NaN  1.055555
b       NaN  1.632486       NaN       NaN
c  1.354579       NaN  0.461155       NaN
d       NaN       NaN  0.789373       NaN
e  1.464566  0.159833  1.021164       NaN

In [17]:
# Conditions for columns
df[df['x'] > 0]

          w         x         y         z
a -0.498836  0.442864 -2.387922  1.055555
b -0.126091  1.632486 -0.128881 -1.939466
e  1.464566  0.159833  1.021164 -0.571623

In [18]:
df[(df['x']>0) & (df['y']>0)]

          w         x         y         z
e  1.464566  0.159833  1.021164 -0.571623

In [19]:
# convert to numpy array
df.values

array([[-0.49883592,  0.44286356, -2.38792186,  1.0555547 ],
       [-0.12609107,  1.6324861 , -0.12888075, -1.9394659 ],
       [ 1.35457938, -0.34803912,  0.46115489, -1.16711808],
       [-0.1438225 , -0.38940513,  0.78937281, -0.91175396],
       [ 1.46456631,  0.15983279,  1.02116392, -0.57162289]])

In [20]:
# Hierarchical index
main_index = ['Google', 'Microsoft']
secondary_index = ['2020-01-15', '2020-01-14', '2020-01-13']
hier_index = pd.MultiIndex.from_product([main_index, secondary_index])

In [21]:
prices_df = pd.DataFrame([[1435, 1432], [1436, 1432], [1433, 1434], [162, 161], [162, 164], [162, 166]], 
                         hier_index,
                         [9, 10])
prices_df

                        9     10
Google    2020-01-15  1435  1432
          2020-01-14  1436  1432
          2020-01-13  1433  1434
Microsoft 2020-01-15   162   161
          2020-01-14   162   164
          2020-01-13   162   166

In [22]:
prices_df.loc['Google']

              9     10
2020-01-15  1435  1432
2020-01-14  1436  1432
2020-01-13  1433  1434

In [23]:
prices_df[9]

Google     2020-01-15    1435
           2020-01-14    1436
           2020-01-13    1433
Microsoft  2020-01-15     162
           2020-01-14     162
           2020-01-13     162
Name: 9, dtype: int64

In [24]:
# with multi-index, column is still a series
type(prices_df[9])

pandas.core.series.Series

In [25]:
prices_df.index.names = ['Company', 'Date']
prices_df

                        9     10
Company   Date
Google    2020-01-15  1435  1432
          2020-01-14  1436  1432
          2020-01-13  1433  1434
Microsoft 2020-01-15   162   161
          2020-01-14   162   164
          2020-01-13   162   166

In [26]:
# filter on inner index
prices_df.xs('2020-01-15', level='Date')

             9     10
Company
Google     1435  1432
Microsoft   162   161

In [27]:
# Avg price by company each day 
prices_df.mean(axis=1)

Company    Date
Google     2020-01-15    1433.5
           2020-01-14    1434.0
           2020-01-13    1433.5
Microsoft  2020-01-15     161.5
           2020-01-14     163.0
           2020-01-13     164.0
dtype: float64

In [28]:
nums = np.random.random_sample(size=100)

In [29]:
nums

array([2.63545446e-01, 1.57546821e-01, 5.03001873e-01, 3.81495760e-01,
       9.75767953e-01, 4.17402678e-02, 3.27563923e-01, 1.16291718e-01,
       6.56603035e-01, 4.35877018e-01, 7.97055682e-01, 8.34244519e-01,
       4.96801568e-01, 2.25883241e-01, 7.69390582e-01, 4.32880557e-01,
       4.33417763e-01, 6.72489305e-01, 7.94021394e-01, 7.93853246e-01,
       5.67569849e-01, 8.08553449e-01, 6.38102963e-01, 3.72532758e-01,
       1.94218150e-01, 6.09881430e-01, 4.97581235e-01, 2.11009086e-01,
       6.14415904e-01, 8.93332026e-01, 7.16465769e-01, 6.89249662e-01,
       6.83775045e-01, 2.88295289e-01, 6.36495686e-01, 8.49187228e-01,
       4.29837461e-01, 4.04139391e-01, 7.61302291e-01, 7.14598526e-01,
       9.39068146e-02, 8.83031689e-01, 9.46724300e-01, 2.12659078e-01,
       6.36836428e-01, 1.77854889e-01, 4.41352007e-01, 8.46351839e-01,
       4.13376215e-01, 1.52196072e-01, 2.28231793e-01, 9.40121001e-02,
       3.89591032e-01, 1.16567385e-01, 7.59774606e-01, 1.30610935e-01,
       1.25201508e-01, 5.84699035e-01, 2.24698048e-01, 8.03182928e-04,
       7.91770047e-01, 8.57539440e-01, 7.05035549e-01, 8.98361313e-01,
       2.95371888e-01, 4.03242338e-01, 6.09531145e-01, 9.80317108e-01,
       1.35992579e-01, 4.34447263e-01, 9.12919273e-01, 8.62099331e-01,
       7.47038771e-01, 1.33006755e-01, 4.22717854e-02, 1.01642222e-01,
       3.94380633e-01, 9.32258950e-01, 2.85194688e-02, 9.25735842e-02,
       4.31295203e-02, 9.51931715e-01, 7.00955528e-01, 3.84559203e-01,
       7.85036411e-01, 7.46230497e-01, 9.56623102e-01, 4.98413017e-01,
       8.70362357e-01, 1.72489106e-01, 6.69495238e-01, 5.27138183e-01,
       4.06544386e-01, 3.94498841e-01, 6.52605924e-01, 4.76454738e-01,
       6.89712970e-01, 7.78511024e-01, 3.36127211e-01, 1.12329991e-01])

In [38]:
cat = pd.cut(nums, bins=3)
cat

[(-0.000176, 0.327], (-0.000176, 0.327], (0.327, 0.654], (0.327, 0.654], (0.654, 0.98], ..., (0.327, 0.654], (0.654, 0.98], (0.654, 0.98], (0.327, 0.654], (-0.000176, 0.327]]
Length: 100
Categories (3, interval[float64]): [(-0.000176, 0.327] < (0.327, 0.654] < (0.654, 0.98]]

In [39]:
cat.describe()

                    counts  freqs
categories
(-0.000176, 0.327]      29   0.29
(0.327, 0.654]          33   0.33
(0.654, 0.98]           38   0.38

In [41]:
cat = pd.cut(nums, bins=[0, 0.25, 0.75, 1])
cat

[(0.25, 0.75], (0.0, 0.25], (0.25, 0.75], (0.25, 0.75], (0.75, 1.0], ..., (0.25, 0.75], (0.25, 0.75], (0.75, 1.0], (0.25, 0.75], (0.0, 0.25]]
Length: 100
Categories (3, interval[float64]): [(0.0, 0.25] < (0.25, 0.75] < (0.75, 1.0]]

In [42]:
cat.

[(0.25, 0.75], (0.0, 0.25], (0.25, 0.75], (0.25, 0.75], (0.75, 1.0], ..., (0.25, 0.75], (0.25, 0.75], (0.75, 1.0], (0.25, 0.75], (0.0, 0.25]]
Length: 100
Categories (3, interval[float64]): [(0.0, 0.25] < (0.25, 0.75] < (0.75, 1.0]]